---
layout: page
title: Neighborhood Effects
show_sidebar: false
permalink: /projects/
---
<div class="box">
<div class="columns">
    <div class="column is-4">
        {% include image-modal.html ratio="is-16by16" link="/assets/img/neighborhood_effects.png" %}
    </div>
    <div class="column is-8">
      <p>
	The Neighborhood Effects project investigates the implications of neighborhood characteristics for political behavior, taking particular care to distinguish between objective conditions of the neighborhood (e.g. percent in poverty) and subjective conditions of the neighborhood (e.g., presence of graffiti). This project creates a new measurement of neighborhood characteristics that can further the research agenda for scholars interested in neighborhood effects and is currently supported by the <a href="https://cst.princeton.edu/">Council for Science and Technology</a>.
      </p>
    </div>
</div>
</div>

<div id="imaan" class="box">
<div class="columns">
    <div class="column is-12">
        {% include image-modal.html link="/assets/img/City Write-Ups.png" %}
    </div>
</div>
</div>

<div class="box">
<div class="columns">
    <div class="column is-12">
        {% include image-modal.html link="/assets/img/City Write-Ups.png" %}
    </div>
</div>
</div>
